
<h1 class="text-black">Catalogo Libri</h1>
<div class="row">
@foreach (var book in ViewBag.Products)
{
    <div class="card bg-white text-black mx-3" style="width: 18rem;">
        <img class="card-img-top" src="@book.Copertina" alt="@book.Titolo">
        <div class="card-body">
            <h5 class="card-title">@book.Titolo</h5>
            <p class="card-text">Autore: @book.Autore</p>
                <div class="dropdown mb-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Trama
                    </button>
                    <ul class="dropdown-menu bg-secondary p-2 ">
                        <p class="card-text text-white">@book.Trama</p>
                    </ul>
                </div>
            <p class="card-text">Prezzo: @book.Prezzo €</p>

                <div class="dropdown mb-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Prestito
                    </button>
                    <ul id="dropdown" class="dropdown-menu bg-secondary p-2 ">
                        @foreach(var user in ViewBag.Users)
                        {
                            <li>@user.Nome</li>
                        }
                    </ul>
                </div>
        </div>
    </div>
}</div>