@model List<BE_U2_W1_D1.Models.Entity.Product>
@{
}

<h1 class="text-white">Catalogo Libri</h1>
@foreach (var book in Model)
{
    <div class="card bg-dark text-white mb-3" style="width: 18rem;">
        <img class="card-img-top" src="@book.Copertina" alt="@book.Titolo">
        <div class="card-body">
            <h5 class="card-title">@book.Titolo</h5>
            <p class="card-text">Autore: @book.Autore</p>
            <p class="card-text">Prezzo: @book.Prezzo €</p>
        </div>
    </div>
}